<main>
  <section class="sidebar-section">
    <img src="../../../assets/svg/coffee.svg"/>
    <h2>Café MPT</h2>
    <br>
    <p>Menu</p>
    <div class="btn-wrapper">
      <img src="../../../assets/svg/search(1).svg">
      <button class="btn-primary" (click)="navigateNovo()">Chamados</button>
    </div>
    <div class="btn-wrapper">
      <img src="../../../assets/svg/Vector.svg">
      <button class="btn-primary" (click)="navigateMain()">Meus Chamados</button>
    </div>
    <div class="btn-wrapper">
      <img src="../../../assets/svg/radio.svg">
      <button class="btn-primary" (click)="navigateAcompanhamento()">Acompanhamentos</button>
    </div>
  </section>

  <section class="main-section">
    <div class="navbar-wrapper">
      <img src="../../../assets/svg/logomarca_MPT_horizontal_transparente 1(1).png"/>
      <button class="usuarioBtn" (click)="navigateUsuario()">Usuário</button>
    </div>

    <div class="grid-wrapper">
      <h1>Acompanhamentos</h1>
      <p>Acompanhar chamados em aberto ou em andamento</p>

      <div class="table">
        <p-table [value]="filteredChamados" [paginator]="true" [rows]="4" [(selection)]="selectedChamado" (onRowSelect)="onRowSelect($event)" (onRowUnselect)="onRowUnselect($event)">
          <ng-template pTemplate="header">
            <tr>
              <th>Código</th>
              <th>Título</th>
              <th>Situação</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-chamado>
            <tr [pSelectableRow]="chamado">
              <td>
                <button class="details" (click)="toggleDetails(chamado)">
                  {{ chamado.codigo }}
                </button>
              </td>
              <td>{{ chamado.titulo }}</td>
              <td>{{ chamado.situacao }}</td>
            </tr>
            <tr *ngIf="expandedChamado === chamado">
              <td colspan="4">
                <p-panel header="Detalhes do Chamado">
                  <div>
                    <p><strong>Autor:</strong> {{ chamado.autor }}</p>
                    <p><strong>Título:</strong> {{ chamado.titulo }}</p>
                    <p><strong>Aberto há:</strong> {{ chamado.abertoHa }}</p>
                    <p><strong>Situação:</strong> {{ chamado.situacao }}</p>
                    <p><strong>Última Ação:</strong> {{ chamado.ultimaAcao }}</p>
                  </div>
                </p-panel>
              </td>
            </tr>
          </ng-template>
        </p-table>
      </div>
    </div>
  </section>
</main>
