@import "../../../variables.scss";

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  background-color: $gray-background;
  padding-top: 35px;
  section {

    .form-section {
      font-size: 20;
      font-weight: 400;
      color: $text-color;

      h2 {
      font-size: 20;
      font-weight: 400;
      color: $text-color;
      }
    }

    img {
      margin-bottom: 30px;
    }

    .athena {
      margin-top: 20px;
      display: flex;
      flex-direction: column;
      align-items: center;
      height: 100%;
    }
  }

  span {
    font-size: 14;
    font-weight: 400;
    color: $text-color;
  }
}
