<main>
  <section class="sidebar-section">
    <img src="../../../assets/svg/coffee.svg"/>
    <h2>Café MPT</h2>
    <br>
    <p>Menu</p>

    <div class="btn-wrapper">
      <img src="../../../assets/svg/search.svg">
      <button class="btn-primary" (click)="navigateNovo()">Chamados</button>
    </div>
    <div class="btn-wrapper">
      <img src="../../../assets/svg/home.svg">
      <button class="btn-primary" (click)="navigateMain()">Meus Chamados</button>
    </div>
    <div class="btn-wrapper">
      <img src="../../../assets/svg/search.svg">
      <button class="btn-primary" (click)="navigateMain()">Acompanhamentos</button>
    </div>
  </section>

  <section class="main-section">
    <div class="navbar-wrapper">
      <img src="../../../assets/svg/logomarca_MPT_horizontal_transparente 1(1).png"/>
      <button class="usuarioBtn" (click)="navigateUsuario()">Usuário</button>
    </div>

    <div class="title">
      <h2>Agendamento</h2>
      <p>Agende seu chamado para um dia específico</p>
    </div>

    <div class="flex-auto">
      <label for="icondisplay" class="font-bold block mb-2"> Data </label>
      <p-calendar
          [(ngModel)]="date3"
          [iconDisplay]="'input'"
          [showIcon]="true"
          inputId="icondisplay" />
  </div>


    <div class="flex-auto">
      <label for="templatedisplay" class="font-bold block mb-2"> Hora </label>
          <p-calendar
              [(ngModel)]="date3"
              [iconDisplay]="'input'"
              [showIcon]="true"
              [timeOnly]="true"
              inputId="templatedisplay">
                  <ng-template pTemplate="inputicon" let-clickCallBack="clickCallBack">
                      <i
                          class="pi pi-clock pointer-events-none pointer-events-none"
                          (click)="clickCallBack($event)"></i>
                  </ng-template>
          </p-calendar>
  </div>

  <div class="next-page-button">
    <button class="Avançar" (click)="navigateNext()"> Finalizar ></button>
  </div>



  </section>
</main>
