<main>
  <section class="sidebar-section">
    <img src="../../../assets/svg/coffee.svg"/>
    <h2>Café MPT</h2>
    <br>
      <p>Menu</p>
        <div class="btn-wrapper">
          <img src="../../../assets/svg/search(1).svg">
          <button class="btn-primary" (click)="navigateNovo()">Chamados</button>
        </div>
        <div class="btn-wrapper">
          <img src="../../../assets/svg/Vector.svg">
          <button class="btn-primary"  (click)="navigateMain()">Meus Chamados</button>
        </div>
        <div class="btn-wrapper">
          <img src="../../../assets/svg/radio.svg">
          <button class="btn-primary" (click)="navigateAcompanhamento()">Acompanhamentos</button>
        </div>
  </section>

  <section class="main-section">
    <div class="navbar-wrapper">
        <img src="../../../assets/svg/logomarca_MPT_horizontal_transparente 1(1).png"/>
    </div>

    <div class="title">
      <h2>Alterar dados de usuário</h2>
    </div>

    <div class="form-wrapper">
      <div class="form-column">
        <div class="form-group">
          <p>Nome</p>
          <input
            id="disabled-input"
            type="text"
            pInputText
            disabled="true"
            [(ngModel)]="UsuarioEscolhido!.nome"
            [placeholder]="UsuarioEscolhido?.nome"
          />
        </div>
        <div class="form-group">
          <p>Nome no Sistema</p>
          <input
            id="disabled-input"
            type="text"
            pInputText
            disabled="false"
            [(ngModel)]="UsuarioEscolhido!.nomeExibicao"
            [placeholder]="UsuarioEscolhido?.nomeExibicao"
          />
        </div>
        <div class="form-group">
          <p>Telefone Fixo/Ramal</p>
          <input
            id="disabled-input"
            type="text"
            pInputText
            disabled="false"
            [(ngModel)]="UsuarioEscolhido!.telefoneFixo"
            [placeholder]="UsuarioEscolhido?.telefoneFixo"
          />
        </div>
        <div class="form-group">
          <p>Telefone Móvel</p>
          <input
            id="disabled-input"
            type="text"
            pInputText
            disabled="false"
            [(ngModel)]="UsuarioEscolhido!.TelefoneMovel"
            [placeholder]="UsuarioEscolhido?.TelefoneMovel"
          />
        </div>
      </div>
      <div class="form-column">
        <div class="form-group">
          <p>Sala</p>
          <input
            id="disabled-input"
            type="text"
            pInputText
            disabled="false"
            [(ngModel)]="UsuarioEscolhido!.Sala"
            [placeholder]="UsuarioEscolhido?.Sala"
          />
        </div>
        <div class="form-group">
          <p>Regional</p>
          <input
            id="disabled-input"
            type="text"
            pInputText
            disabled="true"
            [(ngModel)]="UsuarioEscolhido!.Regional"
            [placeholder]="UsuarioEscolhido?.Regional"
          />
        </div>
        <div class="form-group">
          <p>Unidade</p>
          <input
            id="disabled-input"
            type="text"
            pInputText
            disabled="true"
            [(ngModel)]="UsuarioEscolhido!.Unidade"
            [placeholder]="UsuarioEscolhido?.Unidade"
          />
        </div>
        <div class="form-group">
          <p>Cargo</p>
          <input
            id="disabled-input"
            type="text"
            pInputText
            disabled="true"
            [(ngModel)]="UsuarioEscolhido!.Cargo"
            [placeholder]="UsuarioEscolhido?.Cargo"
          />
        </div>
      </div>
    </div>
    <div class="next-page-button">
      <button class="Avançar" (click)="navigateNext()">Atualizar ></button>
    </div>
  </section>
</main>
