
<main>
  <section class="sidebar-section">
    <img src="../../../assets/svg/coffee.svg"/>
    <h2>Café MPT</h2>
    <br>
      <p>Menu</p>

        <div class="btn-wrapper">

          <img src="../../../assets/svg/search(1).svg">
          <button class="btn-primary" (click)="navigateNovo()">Chamados</button>

        </div>
        <div class="btn-wrapper">
          <img src="../../../assets/svg/Vector.svg">
          <button class="btn-primary"  (click)="navigateMain()">Meus Chamados</button>
        </div>
        <div class="btn-wrapper">
          <img src="../../../assets/svg/radio.svg">
          <button class="btn-primary" (click)="navigateAcompanhamento()">Acompanhamentos</button>
        </div>





  </section>

  <section class="main-section">
    <div class="navbar-wrapper">
        <img src="../../../assets/svg/logomarca_MPT_horizontal_transparente 1(1).png"/>
        <button class="usuarioBtn" (click)="navigateUsuario()">Usuário</button>
    </div>

    <div class="grid-wrapper">
      <h1>Meus Chamados</h1>
      <p>Chamados em aberto ou encerrados</p>

      <div class="table">
        <p-table [value]="Chamados" [paginator]="true" [rows]="4">
          <ng-template pTemplate="header">
            <tr>
              <th>Código</th>
              <th>Título</th>
              <th>Situação</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-chamado>
            <tr>
                <td>{{ chamado.codigo }}</td>
                <td>{{ chamado.titulo }}</td>
                <td>{{ chamado.situacao }}</td>
            </tr>
          </ng-template>

        </p-table>
      </div>



    </div>




  </section>


</main>

