
<main>
  <section class="sidebar-section">
    <img src="../../../assets/svg/coffee.svg"/>
    <h2>Café MPT</h2>
    <br>
    <ng-content></ng-content>
        <div></div>

        <div></div>
  </section>

  <section class="main-section">
    <div class="navbar-wrapper">
        <img src="../../../assets/svg/logomarca_MPT_horizontal_transparente 1(1).png"/>
        <button class="usuarioBtn">Usuário</button>
    </div>

    <div class="grid-wrapper">
      <h1>Meus Chamados</h1>
      <p>Chamados em aberto ou encerrados</p>

      <div class="grid-container">
        <div class="grid-header">Código</div>
        <div class="grid-header">Aberto há</div>
        <div class="grid-header">Situação</div>
        <div class="grid-header">Última Ação</div>

          <div class="grid-item">001</div>
          <div class="grid-item">5 dias</div>
          <div class="grid-item">Em andamento</div>
          <div class="grid-item">Atualização do status</div>

          <div class="grid-item">002</div>
          <div class="grid-item">2 dias</div>
          <div class="grid-item">Concluído</div>
          <div class="grid-item">Finalizado</div>

          <div class="grid-item">003</div>
          <div class="grid-item">7 dias</div>
          <div class="grid-item">Pendente</div>
          <div class="grid-item">Aguardando resposta</div>
      </div>

    </div>




  </section>


</main>

