
<main>
  <section class="sidebar-section">
    <img src="../../../assets/svg/coffee.svg"/>
    <h2>Café MPT</h2>
    <br>
    <ng-content></ng-content>
    <div class="btn-wrapper">
      <button class="btn-primary"></button>
      <div class="divider">
        <div></div>

        <div></div>
      </div>
    </div>
  </section>

  <section class="main-section">
        <img src="../../../assets/svg/logomarca_MPT_horizontal_transparente 1.svg"/>
        <button class="usuárioBtn">Usuário</button>
    </section>


</main>

