@import "../../../variables.scss";

.input-wrapper {

  text-align: start;


  input {
    border: none;
    border-radius: 8px;
    background-color: white;
    font-family: "Inter", sans-serif;
    color: $text-color;
    font-size: 35;
    font-weight: 400;
    padding: 16px 0 8px 12px;
    width: 100%;
    box-shadow: 0px 8px 12px $lighter-text;
  }
}

