@import "../../../variables.scss";

.input-wrapper {

  text-align: start;

  input {
    border: none;
    border-radius: 8px;
    background-color: white;

    color: $text-color;
    font-size: 20;
    font-weight: 400;
    padding: 16px 8px 8px 28px;
    width: 100%;
  }

  label {
    color: $text-color;
    font-size: 20;
    font-weight: 400;
  }
}

